{% extends "AdminPortal/main.html" %}

{% block content %}

	{% for key, value in objs.items %}
		<input type="checkbox" value={{key}}></check><p style="color:white;">{{key}}</p>
		<p style="color:white;">{{value}}</p>
	{% endfor %}

	<div class="panel">
		<form method='post'>
			{% csrf_token %}
			<input type='submit'></form>
		</form>
		<input type="button" value="start" id="start">
        <div class="checkbox">
	        <label>
	          <input type="checkbox" class="flat" checked="checked"> Checked
	        </label>
      	</div>
	</div>

{% endblock %}

<script>
	$("#start").click(function(){
		var v = $(":checkbox:chcked").val()
		console.log(v)
	})

</script>