{% extends "AdminPortal/main.html" %}

{% block content %}

	{% for key, value in objs.items %}
		<input type="checkbox" value={{key}}></check><p style="color:white;">{{key}}</p>
		<p style="color:white;">{{value}}</p>
	{% endfor %}

		{% csrf_token %}
		<input type="button" value="start" id="start">
		<input type="button" value="stop" id="stop">
        <div class="checkbox">
      	</div>

<script>
	var val = [];
	function getCookie(name)
	{
	    var cookieValue = null;
	    if (document.cookie && document.cookie != '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?

	            if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}

	$.ajaxSetup({ 
	     beforeSend: function(xhr, settings) {
	         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
	             // Only send the token to relative URLs i.e. locally.
	             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	         }
	     } 
	});

	$("#start").click(function(){		
		val[0] = 'start';
		dothing();
	})

	$("#stop").click(function(){
		val[0] = 'shutdown';
		dothing();
	})

	function dothing(){
		$(":checkbox:checked").each(function(i){
			val[i + 1] = $(this).val();
		})
		console.log(val)
		$.ajax({
			type: "POST",
			url: "/dashboard/",
			data: JSON.stringify(val),
			success: function()
			{
				val = [];
				console.log("gimme the succ")
			}
		})
	};
</script>

{% endblock %}